<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">

   <Appenders>
      <File name="file" fileName="FBSLogs.log" bufferedIO="false" advertiseURI="FBSLogs.log" advertise="true">
      <PatternLayout pattern="%d | %msg%n" />
      </File>
      <Console name="STDOUT" target="SYSTEM_OUT">
         <PatternLayout pattern="%d%msg%n" />
      </Console>
   </Appenders>

   <Loggers>
      <Root level="info">
         <AppenderRef ref="file" />
      </Root>
   </Loggers>

</Configuration>